body, html {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .container {
    /* text-align: center; */
    height: 100%;
    /* padding: 16px; */
    box-sizing: border-box;
    display: grid;
    /* gap: 15px; */
    /* grid-template: 1fr 3fr 1fr / 1fr 5fr; */
    grid-template: 1fr 5fr / 1fr 4fr;
  }
  .container > div{
    /* border: 2px solid black; */
  }
  .header{
    /* border: 2px solid red; */
    grid-column: 2 / 4;
    box-shadow: 0px 0px 10px #1e293b;
    clip-path: inset(0px 0px -15px 0px); 
    padding: 10px 60px 10px 30px;
    display: grid;   
    gap: 15px;
  }
  .header_first{
    /* border: 2px solid blue; */
    display: grid;
    /* grid-template-columns: 1fr 15fr 1fr 1fr 3fr; */
    grid-template-columns: minmax(20px, 30px) 15fr minmax(20px, 30px) minmax(45px, 55px) 3fr;
    grid-template-rows: minmax(30px, 55px);
    gap: 20px;
    /* align-items: center; */
    align-self: center;
    /* justify-items: start; */
   
  }
  .header_first > div{
    /* border: 2px solid black; */
    display: flex;  
    /* align-items: center; */
    
  }
  .search_bar{
    display: flex;  
    align-items: center;
  }
  /* .search_bar{
    border-radius: 5px;

  } */
  .header_first input[type=text] {
    background-color: #e5e7eb;
    border: none;
    border-radius: 12px;
    height: 25px;
    width: 90%;
  }
  .header_first_user{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .user_icon_big{
    width: 100%;
    object-fit: contain;
  }
  
  .header_second{
    /* border: 2px solid brown; */
    display: grid;
    /* grid-template-columns: 2fr 10fr 1fr 1fr 3fr; */
    /* grid-template-columns: minmax(50px, 75px) minmax(200px, 6fr) 1fr 1fr 1fr ; */
    grid-template-columns: minmax(60px, 75px) minmax(200px, 6fr) repeat(3, 100px);
    grid-template-rows: minmax(30px, 75px);
    gap: 15px;
    align-self: center;
    /* align-items: center; */
  }
  .header_second > div{
    /* border: 2px solid black; */
    display: flex;
    
  }

  .header_welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  .header_welcome > div{
    text-align: left;
    font-weight: bold;
  }
  .header_welcome_user{
    font-size: 22px;
    
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    border: none;
    background-color: #0ea5e9;
    border-radius: 25px;
    
    padding: 10px 30px 10px 30px;
    /* padding: 10% 30% 10% 30%; */
    /* max-width: 100%; */
    font-weight: bold;
    color: white;
  }
  button:hover {
    /* background-color: #0ea5e9; */
    transition: 0.3s;
    opacity: 0.9;
    }
  
 
  .sidebar{
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 1fr 12fr;
    padding: 20px 20px 60px 20px;
    color: #e5e7eb;
    gap: 25px;
    
  }
  .sidebar > div{
    /* border: 1px solid black; */
    
  }
  .sidebar_top{
    display: grid;
    grid-template-columns: minmax(40px, 70px) 3fr;

  }
  .sidebar_top > div{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
  
  }
  .sidebar_bottom{
    display: grid;
    grid-template-columns: minmax(30px, 40px) 3fr;
    /* grid-template-rows: repeat(12, 1fr); */
    grid-template-rows: repeat(auto-fit, minmax(30px, 40px));
    gap: 10px;
    padding-left: 15px;
    
  }
  .sidebar_bottom > div{         /*maybe change some gaps*/
    /* border: 1px solid black; */      
    display: flex;  
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    
  }
  .sidebar_bottom > div > img{
    filter: invert(100%);  /*have to play with svg color*/
  }
  .sidebar_first{
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    
  }
  a{
    text-decoration: none;
    color: white;
  }
 /* img{
    height: fit-content;

    width: 100%;
    height: 100%; 
    display: block;
    object-fit: cover; 
  }  */
  .dashboard_icon{
    /* height:fit-content; */
    /* object-fit: cover;
    width: 100%;
    max-height: 100%; */
  filter: invert(100%);  
  }
 
  .main{
    background-color: #e5e7eb;
    display: grid;
    grid-template-columns: 3fr 1fr;    
    padding: 30px 20px 60px 20px;
    gap: 15px;
  }
  .content{
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-template-rows: auto repeat(3, 4fr); */
    grid-template-rows: auto 1fr;
    gap: 15px;
  }
  .main_content_title{
    /* grid-column: 1 / 3; */
    text-align: left;
    padding-bottom: 10px;
    border: 2px solid green;
    /* font-weight: bold; */
    font-size: 18px;
  }
  .content > div{
    border: 2px solid black;
  }
  .content_tabs{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );
    /* grid-template-rows: repeat(); */
    gap: 15px;
  }
  .content_tabs > div{
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
  }
  .nav{
    border: 2px solid black;
    display: grid;
    /* grid-template-rows: repeat(2, minmax(200px, 1fr)); */
    grid-template-rows: min-content min-content;
    
    gap: 15px;
  }
  .nav > div{
    border: 2px solid black;
  }
  .nav_top, .nav_bottom{
    display: grid;
    gap: 15px;
    grid-template-rows: auto repeat(1, 2fr);
  }
  .announc, .trending{
    text-align: left;
    padding-bottom: 10px;
    border: 2px solid green;
  }
  .announc_content, .trending_content{
    border: 2px solid red;
    display: grid;
    /* grid-template-rows: repeat(4, minmax(20px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, minmax(40px, 1fr)); */
    /* grid-template-rows: minmax(40px, 1fr); */
    padding: 20px;
    /* border
    -bottom: 2px #cbd5e1; */    
    background-color: white;
    border-radius: 10px;
    gap: 10px;
  }



  h4{
    margin: 0;
    padding-bottom: 5px;
  }
  .trending_content{
    /* grid-template-columns: 1fr 3fr; */
    /* grid-template-columns: minmax(30px, 80px) minmax(120px, 240px); */
    grid-template-columns: minmax(30px, 60px) 3fr;
    /* grid-template-rows: repeat(4, minmax(20px, 1fr)); */
    gap: 10px;
  }
  .trending_img{
    display: flex;
    width: 100%;
    object-fit: contain;
  }
  .announc_content > div, .trending_content > div{
    border: 2px solid blue;
   /* box-shadow: 0px 0px 10px #1e293b;
    clip-path: inset(0px 0px -15px 0px); */
   
  }
  .line{
    /* width: 100px; height: 1px; border: solid 1px black; */
    border-bottom: 2px solid #475569 ;;
  }
  p{
    /* margin: 5px 0px 5px 0px; */
    color:#475569 ;
    margin: 0;
  }
  h5{
    margin: 0;
  }
  .trending_user{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }